.cardBox{
    position: relative;
    display: flex;
    flex-direction: column;
    transition: .2s;
    width: 45%;
    max-width: 600px;
    
   
}

.cardBox:hover{
   
}

.cardImgBox{
    width: 100%;
    z-index: 20;
}

.cardImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.cardInfoBox{
    position: relative;
    bottom: 0;
    color: var(--color-gray);
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 1rem 2rem;
    width: 100%;
}

.cardInfoTitleBox{
    display: flex;
    justify-content: space-between;
}

.cardInfoIcon {
    cursor: pointer;
}

.cardInfoTitle{
    color: var(--color-active);
    margin-bottom: .5rem;
}

.cardInfoText{
    margin-bottom: 1rem;
    font-size: 0.85rem;
    line-height: 150%;
    font-weight: 300;
}

.projectsCardIcons{
    display: flex;
}

.cardGetContainer{
    display: flex;
    align-items: flex-end;
    padding-left: 2rem;
    border-top: 3px solid var(--color-active);
}

.link{
    text-decoration: none;
}

@media screen and (max-width: 1024px){
    .cardBox{
        margin-bottom: 4rem;
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .cardBox{
        margin-bottom: 4rem;
        width: 100%;
    }
    
    .cardInfoBox{
        z-index: 30;
        padding: 1rem 1rem;
    }
    
    .cardInfoText{
        line-height: 125%;
        font-weight: 200;
    }
    
}

@media screen and (max-width: 576px){
    
    .cardInfoBox{
        z-index: 30;
    }
    
    .cardInfoText{
        font-weight: 200;
    }
    
}
