
.gridContainer{
    padding: 8rem 8rem;
}

.projectsCardBox{
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    position: relative;
    padding: 4rem 8rem;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    
}

.projectsCardBox h3{
    color: var(--color-gray);
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.projectsFilterContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;
}

.projectsFilter{
    padding: 2rem 2rem;
    border: 2px solid var(--color-active);
    color: var(--color-gray);
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    
.gridContainer{
    padding: 8rem 6rem;
}

.projectsCardBox{
    padding: 4rem 6rem 2rem 6rem;
}
.cardsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    
}
}

@media screen and (max-width: 768px){
    
    .gridContainer{
        padding: 8rem 4rem;
    }
    
    .projectsCardBox{
        padding: 4rem 4rem 4rem 4rem;
    }
    
    .projectsCardBox h3{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 576px){
    
    .gridContainer{
        padding: 8rem 2rem;
    }
    
    .projectsCardBox{
        padding: 4rem 2rem 4rem 2rem;
    }
    
    .projectsCardBox h3{
        font-size: 1.2rem;
    }
    }