
.gridContainer{
    padding: 10rem 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsHeroTitle{
    color: var(--color-active);
    font-size: 6rem;
    font-weight: 500;
    z-index: 1;
    position: fixed;

}

.projectsCardBox{
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    position: relative;
    padding: 4rem 8rem 6rem 8rem;
    z-index: 100;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
}

.projectsFilterContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 3rem;
}

.projectsFilter{
    padding: 0.85rem 1rem;
    border: 1px solid var(--color-active);
    border-radius: 2rem;
    font-size: 1rem;
    color: var(--color-gray);
    cursor: pointer;
    transition: all 0.2s;
}

.projectsFilter:hover{
    background-color: #ff20f4;
    color: var(--color-primary);
    border: 1px solid #ff20f4;
}

.projectsCardTitleContainer{
    margin-bottom: 2rem;
}
.projectsCardTitle {
    font-size: 3rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
    text-wrap: balance;
}


@media screen and (max-width: 1024px){
    
.gridContainer{
    padding: 8rem 6rem;
}

.projectsHeroTitle{
    font-size: 4rem;
}

.projectsCardBox{
    padding: 4rem 6rem 4rem 6rem;
}
.cardsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    
}
}

@media screen and (max-width: 768px){
    
    .gridContainer{
        padding: 8rem 4rem;
    }
    
    .projectsCardBox{
        padding: 4rem 4rem 4rem 4rem;
    }
}

@media screen and (max-width: 576px){
    
    .gridContainer{
        padding: 10rem 2rem;
    }
    
    .projectsHeroTitle{
        font-size: 3.5rem;
        font-weight: 500;
    }
    
    .projectsCardBox{
        padding: 4rem 2rem 4rem 2rem;
    }
    
    .projectsCardBox h3{
        font-size: 1.2rem;
    }
    }