*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #000;
  --color-white: #FFF;
  --color-gray: #f1f1f1;
  --color-icon: #838383;
  --color-primary: #180020;
  --color-secondary: #400056;
  --color-terciary: #540072;
  --color-active: #d316c8;;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
